*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fblueerin02%2Fexamples-of-jewelry-store-logos%2F&psig=AOvVaw2F5lx8sHymnUFDgH8iQLGG&ust=1678953255747000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIiU5ru63f0CFQAAAAAdAAAAABAE);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'AVIANO', Times, serif;
}
table{
    background-color: gold;
    color: white;
}
p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: gold;
    font-family: 'Times New Roman', Times, serif;
}
